asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.2
django-extensions==4.1
geopandas==1.0.1
h3==4.2.2
idna==3.10
joblib==1.4.2
networkx==3.4.2
numpy==2.2.4
osmnx==2.0.2
packaging==24.2
pandas==2.2.3
pyogrio==0.10.0
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
shapely==2.1.0
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2
urllib3==2.4.0
